* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212; 
    color: #ddd; 
    line-height: 1.6;
    font-size: 16px;
    background: linear-gradient(to right, #121212, #333);
    background-attachment: fixed;
    background-position: center center;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1e1e1e; 
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    color: #3d9cf5; 
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #32cd32; 
}

section {
    padding: 80px 20px;
    margin-top: 70px; 
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3d9cf5;
}

section p {
    font-size: 1.2rem;
    color: #ddd;
}

.connect i {
    font-size: 3.2rem;
    color: #ddd;
    padding: auto;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 70%; 
    max-width: 700px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #1e1e1e; 
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.project img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #3d9cf5; 
}

.project-info {
    padding: 20px;
    background-color: #2a2a2a; 
    text-align: left;
}

.project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff6347; 
}

.project-info p {
    font-size: 1rem;
    color: #ddd;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.section {
    animation: fadeIn 1s ease-in-out;
}

footer {
    background-color: #1e1e1e;
    color: #3d9cf5; 
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.project-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://via.placeholder.com/1600x900'); /* Example background image */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(8px);
    padding: 60px 0;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 15px 0;
    }

    section h2 {
        font-size: 2rem;
    }

    .project {
        width: 90%; 
    }

    footer {
        padding: 10px 0;
    }

    .project-info h3 {
        font-size: 1.3rem;
    }

    section p {
        font-size: 1rem;
    }
}
